<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/todomvc-app-css@2.3.0/index.css"
    />
  </head>
  <body>
    <div id="app">
      <section class="todoapp">
        <header>
          <h1>TODOS</h1>
        </header>
        <input
          v-model="newTodo"
          @keyup.enter="addTodo"
          type="text"
          class="new-todo"
          autofocus
          placeholder="需要做什麼？"
        />

        <main class="main">
          <input id="toggle-all" type="checkbox" class="toggle-all" />
          <label for="toggle-all"></label>
          <ul class="todo-list">
            <li
              v-for="todo in todos"
              :key="todo.id"
              class="todo"
              :class="{completed: todo.completed}"
            >
              <div class="view">
                <input
                  class="toggle"
                  type="checkbox"
                  @click="finishedTodo(todo.id)"
                  v-model="todo.completed"
                />
                <label for="">{{todo.title}}</label>
                <button class="destroy" @click="removeTodo(todo)" />
              </div>
              <input type="text" class="edit" />
            </li>
          </ul>
        </main>
        <footer class="footer">
          <span class="todo-count"> <strong>3</strong> items left </span>
          <ul class="filters">
            <li>
              <a href="#/all">All</a>
            </li>
            <li>
              <a href="#/active">Active</a>
            </li>
            <li>
              <a href="#/completed">Completed</a>
            </li>
          </ul>
          <button class="clear-completed">Clear completed</button>
        </footer>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script type="module">
      new Vue({
        el: "#app",
        data: {
          newTodo: "",
          todos: [
            {
              id: uuidv4(),
              title: "學習 Vue Template 的使用",
              completed: true,
            },
            {
              id: uuidv4(),
              title: "學習在 Vue Template 中進行條件判斷",
              completed: false,
            },
            {
              id: uuidv4(),
              title: "學習在 Vue Template 中使用迴圈",
              completed: false,
            },
          ],
        },
        methods: {
          addTodo() {
            console.log("this.newTodo", this.newTodo);
            const title = this.newTodo && this.newTodo.trim();
            if (!title) {
              return;
            }
            this.todos.push({
              id: uuidv4(),
              title: this.newTodo,
              completed: false,
            });
            this.newTodo = "";
          },
          removeTodo(todo) {
            console.log("remove todo", todo.id);
            this.todos = this.todos.filter((_todo) => _todo.id !== todo.id);
          },
          finishedTodo(id) {
            console.log("finish!");
            console.log(id);
            this.todos = this.todos.map((todo) => {
              if (todo.id === id) {
                todo.completed = !todo.completed;
                console.log(todo.completed);
              }
              return todo;
            });
            // console.log(this.todos.completed);
            // console.log(this.todos.completed.value)
            // this.todos.completed = !this.todos.completed
          },
        },
      });
    </script>
  </body>
</html>
